django==5.1.5
celery==5.4.0
redis==5.0.1
flower==2.0.1
psycopg[binary]==3.1.19
watchfiles==1.0.4
requests==2.32.3
daphne==4.1.2
channels==4.2.0
channels-redis==4.2.1
django-celery-beat==2.7.0
factory-boy==3.3.1
coverage==7.6.10
pytest==8.3.4
pytest-django==4.9.0
pytest-factoryboy==2.7.0
pytest-cov==6.0.0
Pillow==11.1.0
gunicorn==23.0.0
uvicorn[standard]==0.34.0
